a {
  text-decoration: none;
  color: "black";
}

.footer_social_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.footer_social {
  color: black;
}

.footer_social {
  margin-top: 4rem;
  max-width: 100%;
}

.footer_social i {
  font-size: 2rem;
  color: black;
}

a:link {
  color: white;
}

.hover_effect:hover {
  color: green;
}

.link_styles {
  color: #fff;
}

.link_styles:hover {
  color: blueviolet;
}

.blueViolet {
  color: green;
}

.blueViolet:hover {
  color: white;
}

@media (max-width: 550px) {
  .jumbo_social i {
    font-size: 1.4rem;
  }
}

@media (min-width: 576px){
  .jumbotron {
    padding: 0px;
  }
}
